{% extends 'search/base.html' %}

{% block title %}Home - Sanly-shop{% endblock %}

{% block content %}
    <h1>Sanly shop-da sizi hoş gördük!!</h1>
    <p>Hyzmat diňe Müşderiler üçin!!</p>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        <a href="{% url 'image_search' %}">Harytlar_gözlegi</a>
        <a href="{% url 'product_list' %}">Harytlar</a>
    </nav>
{% endblock %}
